ul {
    list-style-type: none;
}

a {
    text-decoration: none;
    color: #651249;
    /* font-weight: bold; */
}

a:hover {
    color: #DD93C2;
    font-weight: bold;
}


h1 {
    font-family: 'Courier New', Courier, monospace;
    color: #651249;

}

body {
    background-color: #FBDCEF;
}

h2 {
    color: #41052b;
}

.recipeimage img {  
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.centerpageh {
    display: grid;
    place-items: center;
    height: 100vh;

}

.centerhome {
    display: grid;
    place-content: center;
    height: 100vh;
    text-align: center;
}

.centerpage {
    display: grid;
    height: 100vh;
    line-height: 155%;
}

.centertxt {
    display: grid;
    text-align: center;
    background-color: #DD93C2;
}